/* styles.css */

div {
    color: wheat;
}
p {
    /* hex example: */
    color: #1100ff;
    /* rgb example: */
    color: rgb(100, 0, 127);
    /* hsl example: */
    color: hsl(15, 82%, 56%);
  }
  img {
    height: auto;
    width: 500px;
  }
/* rule 1 */
#subsection {
    color: blue;
  }
  
  /* rule 2 */
  .main .list {
    color: red;
  }
  * {
    border: 2px solid red;
  }